body{
  top: 0;
  bottom: 0;
}
.landing{
	position: relative;
	background: url('./assets/landing.jpg') no-repeat center center/cover;
	height: 100vh;
}

.dark-overlay{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.landing-inner{
  height: 100%;
}
